@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: Silka Black;
  src: url(/fonts/silka-black-webfont.ttf)
}

@font-face{
  font-family: Silka-Bold;
  src: url(/fonts/silka-bold-webfont.ttf)
}

@font-face{
  font-family: Silka Extra Light; 
  src: url(/fonts/silka-extralight-webfont.ttf)
}

@font-face{
  font-family: Silka Light;
  src: url(/fonts/silka-light-webfont.ttf)
}

@font-face{
  font-family: Silka Medium;
  src: url(/fonts/silka-medium-webfont.ttf)
}

@font-face{
  font-family: Silka Regular;
  src:url(/fonts/silka-regular-webfont.ttf)
}

@font-face{
  font-family: Silka-semi-bold; 
  src:url(/fonts/silka-semibold-webfont.ttf)
}

@font-face{
  font-family: Silka Thin;
  src: url(/fonts/silka-thin-webfont.ttf)
}

.silka-black{
  font-family: Silka Black;
}

.silka-bold{
  font-family: Silka-Bold;
}

.silka-extralight{
  font-family: Silka Extra Light;
}

.silka-light{
  font-family: Silka Light;
}

.silka-medium{
  font-family: Silka Medium; 
}

.silka-regular{
  font-family: Silka Regular;
}

.silka-semibold{
  font-family: Silka-semi-bold;
}

.silka-thin{
  font-family: Silka Thin;
}